<div class="card" style="border-radius: 2%;border : 2 px transparent;margin :5%;background: #FAF9F7">
    <div class="card-body">
        <div style="display: flex;justify-content: center;">
            <h3>Financial Information Page</h3>
        </div>
        <form style="margin-top: 2%;">
            <div class="form-row">
                <div class="form-group col-md-6 col-sm-6 col-xs-6 col-lg-6 col-xl-6">
                    <label for="qualification">DEPOSIT AMOUNT</label>
                </div>
            </div>
        </form>
    </div>
</div>