<div style="display: flex;justify-content: center;align-items: center;height: 100vh;background: #FAF9F7">
    <div class="card" style="width: 18rem;border-radius: 5%;border : 2 px transparent;">
      <div class="card-body">
        <div class="row justify-content-md-center">
          <div class="col-md-12" style="text-align: center;">
            <h5>Login</h5>
          </div>
        </div>
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter Username" formControlName="userName">
              <div class="errorOfEachfields" *ngIf="loginForm.controls.userName.invalid && (loginForm.controls.userName.touched || loginForm.controls.userName.dirty)">
                Username required
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter Paasword" formControlName="passwords">
            </div>
           <div style="display: flex;justify-content: center;">
             <div>
              <button class="btn btn-secondary" (click)="goToHome()" [disabled]="!loginForm.valid">SIGN IN</button>
             </div>
             <div style="padding-left: 3%;">
              <button #signUP class="btn btn-secondary"  data-toggle="modal" data-target="#exampleModal" >SIGN UP</button>
             </div>
           </div>
        </form>
      </div>
    </div>
  </div>

 <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center;">
        <div><h4>Welcome O2 Medicine</h4></div>
        <div>
          <input type="text" class="form-control" placeholder="Enter Invitation Code">
        </div>
        <div style="display: flex;justify-content: center;margin-top: 2%;">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" data-dismiss="modal" (click)="goTOMSSPHomePage()" class="btn btn-primary" style="margin-left: 2%;">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
