<div class="card" style="border-radius: 2%;border : 2 px transparent;margin :5%;background: #FAF9F7">
  <div class="card-body">
    <div style="display: flex;justify-content: center;">
      <h3>Educational Information Page</h3>
    </div>

    <form style="margin-top: 2%;">
      <div class="form-row">
        <div class="form-group">
          <label for="qualification">Highest Qualification</label>
          <select class="form-control">
            <option>SSLC</option>
            <option>PUC</option>
            <option>DIPLOMA</option>
            <option>BCA</option>
            <option>MCA</option>
            <option>B.E</option>
            <option>B.COM</option>
            <option>B.SC</option>
            <option>B.A</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
