<nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="width: 320px;">O2 Medicine Company</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"id="navbarNavDropdown">
      <ul class="navbar-nav"> 
        <li class="ml-sm-3 ml-xs-3 ml-lg-3 ml-xl-3">
          <a routerLink="Our_values" routerLinkActive="active" class="nav-link menuItemSizeAndCursorMark">OUR VALUES</a>
        </li>

        <li class="ml-sm-3 ml-xs-3 ml-lg-3 ml-xl-3">
          <a routerLink="Process_page" routerLinkActive="active" class="nav-link menuItemSizeAndCursorMark">PROCESS PAGE</a>
        </li>

        <li class="ml-sm-3 ml-xs-3 ml-lg-3 ml-xl-3">
          <a routerLink="Contact_us" routerLinkActive="active" class="nav-link menuItemSizeAndCursorMark">CONTACT US</a>
        </li>
      </ul>
    </div>
  </nav> 
  <router-outlet></router-outlet>